*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px; 
    font-family: Arial, Helvetica, sans-serif;  
}

body {
    display: grid;
    place-items: center;
}

.area {
    display: grid;
    gap: 3em;
   
}

#title {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px #E2784E;    
    padding: 20px;
    text-align: center;
    margin: 20px;
    margin-bottom: 75px;
    font-size: 50px;
    color: #852B2A;
    border-radius: 40px;
    display: block;
    width: 85%;
}

div {
    font-size: 25px;
    text-decoration: none;
    color: rgb(211, 84, 84);
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px #852B2A;
    text-align: center;
}

div.intro {
    margin: 20px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 10px gray;
    margin: auto;
}


h1, .intro
h2, .intro {
    margin-bottom: 20px;
}

h2, .intro {
    margin-top: 20px;
    font-size: 25px;
}

.button {
    text-decoration: none;
    color: #E2784E;
}

div.ing-steps {
    margin: 25px;
}
